body{
    display: flex;
    flex-direction: column;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    /* text-align: center; */
    width: 30%;
    /* color: blue; */
}
.heading>p{
    color: rgb(104, 104, 104);
}